html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --background: #4D5159;
  --text: #D0D9D9;
  --header-text: #3F3F40;
  --accent1: #D9BEB4;
  --accent2: #A64646;
  font-family: 'Cabin', sans-serif;
}

body {
  font-size: 120%;
  margin: 0;
  padding: 0;
  color: var(--text);
  background-color: var(--background);
  line-height: 26px;
}

header {
  background-image: url(img/person-holding-controller.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -300px;
  height: 100vh;
  min-height: 400px;
  max-height: 500px;
}

header section {
  padding: 1rem;
  font-family: 'PT Sans', sans-serif;
  line-height: initial;
}

header section h1 {
  font-size: 2.2em;
  margin-bottom: 0;
}

header section p {
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 0;
}

header section mark {
  padding: 0.25rem;
  background-color: var(--text);
  color: var(--header-text);
}

.centered-main {
  width: 70%;
  max-width: 60em;
  margin: 0 auto;
}

section article p {
  font-size: 16px;
}

a {
  color: var(--accent1);
}

footer {
  padding: 2px;
  background-color: var(--header-text);
}

.box-right {
  box-sizing: content-box;
  float: right;
  width: 400px;
  padding: 0.5em;
  border: 2px solid var(--header-text);
  margin: 0 0 0 1em;
}

.box-right img {
  width: 100%
}

.clear-float {
  clear: both;
}